.addContact {
  transition: all 0.3s ease;
  overflow: hidden;
  height: 0px; }

.contactInfo {
  transition: all 0.3s ease;
  overflow: hidden;
  height: 0px; }

.showContact {
  min-height: 75px; }

.showNav {
  height: 200px; }

input {
  display: block; }

.delete {
  display: inline-block;
  color: red;
  font-size: 22px;
  margin-left: 20px;
  cursor: pointer; }
