html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

.addContact {
  transition: all 0.3s ease;
  overflow: hidden;
  height: 0px; }

#contactList p {
  margin: 0; }

.contactInfo {
  transition: all 0.3s ease;
  overflow: hidden;
  height: 0px; }

.showContact {
  min-height: 125px; }

.showNav {
  height: 200px; }

input {
  display: block; }

.categoryList {
  text-transform: uppercase; }

.delete {
  display: inline-block;
  color: red;
  font-size: 22px;
  margin-left: 20px;
  cursor: pointer; }

li {
  list-style: none; }

.navbar {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 14.70196%;
  height: 100vh;
  border-right: 1px solid lightgray; }
  .navbar:last-child {
    margin-right: 0; }

.allContacts {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 82.94039%; }
  .allContacts:last-child {
    margin-right: 0; }
