html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

/****************************
NavBar
****************************/
.newBtn {
  position: absolute; }

.addContact {
  transition: all 0.3s ease;
  overflow: hidden;
  height: 0px;
  box-shadow: 0 0px 17px 0 rgba(0, 0, 0, 0.2); }

.showNav {
  transition: all 0.3s ease;
  padding-top: 60px;
  height: 60%; }

.group {
  position: relative;
  margin-bottom: 30px; }

input {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid #757575; }
  input:focus {
    outline: none; }

label {
  color: #999;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all; }

input:focus ~ label, input:valid ~ label {
  top: -20px;
  font-size: 14px;
  color: #5264AE; }

.bar {
  position: relative;
  display: block;
  width: 100%; }

.bar:before, .bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #5264AE;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all; }

.bar:before {
  left: 50%; }

.bar:after {
  right: 50%; }

input:focus ~ .bar:before, input:focus ~ .bar:after {
  width: 50%; }

.highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5; }

input:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease; }

@-webkit-keyframes inputHighlighter {
  from {
    background: #5264AE; }
  to {
    width: 0;
    background: transparent; } }

@-moz-keyframes inputHighlighter {
  from {
    background: #5264AE; }
  to {
    width: 0;
    background: transparent; } }

@keyframes inputHighlighter {
  from {
    background: #5264AE; }
  to {
    width: 0;
    background: transparent; } }

/****************************
List
****************************/
#contactList p {
  margin: 0; }

.contactInfo {
  transition: all 0.3s ease;
  overflow: hidden;
  height: 0px; }

.showContact {
  min-height: 125px; }

.categoryList {
  text-transform: uppercase; }

.delete {
  display: inline-block;
  color: red;
  font-size: 22px;
  margin-left: 20px;
  cursor: pointer; }

* {
  box-sizing: border-box; }

body {
  font-family: 'Roboto', sans-serif; }

li {
  list-style: none; }

.navbar {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%;
  overflow-x: hidden;
  height: 100vh;
  border-right: 1px solid lightgray;
  box-shadow: 0 0px 17px 0 rgba(0, 0, 0, 0.2); }
  .navbar:last-child {
    margin-right: 0; }

.allContacts {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 74.41059%; }
  .allContacts:last-child {
    margin-right: 0; }
