/****************************
Variables
****************************/
/****************************
NavBar
****************************/
header {
  height: 80px;
  width: 100%;
  background-color: #1DAAF1;
  text-align: center;
  box-shadow: 0 4px 17px 0 rgba(0, 0, 0, 0.2); }
  header h2 {
    color: #fff;
    font-size: 25px;
    font-weight: 300;
    margin: 0;
    padding-top: 25px; }

.newBtn {
  position: absolute;
  z-index: 10;
  top: 55px;
  left: 10px;
  color: #fff;
  background-color: lightgreen;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  border: none;
  font-size: 26px;
  box-shadow: 0px 3px 12px 3px rgba(0, 0, 0, 0.2); }
  .newBtn:focus {
    outline: none; }

.addContact {
  transition: all 0.3s ease;
  overflow: hidden;
  height: 0px;
  box-shadow: 0 4px 17px 0 rgba(0, 0, 0, 0.2); }

.showNav {
  transition: all 0.3s ease;
  padding-top: 50px;
  height: 540px; }

#contacts {
  color: #1DAAF1;
  font-size: 16px;
  margin: 50px 15px 30px;
  cursor: pointer; }
  #contacts:hover {
    text-decoration: underline; }

.directory li {
  color: #1DAAF1;
  font-size: 16px;
  cursor: pointer;
  margin-top: 30px; }
  .directory li:hover {
    text-decoration: underline; }

.group {
  position: relative;
  margin-bottom: 30px; }

.groupLast {
  margin-bottom: 1px; }

#addBtn {
  color: #fff;
  background-color: #1DAAF1;
  height: 50px;
  width: 100%;
  font-size: 28px;
  border: none; }

input {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid lightgray; }
  input:focus {
    outline: none; }

label {
  color: #999;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all; }

input:focus ~ label, input:valid ~ label {
  top: -20px;
  font-size: 14px;
  color: #1DAAF1; }

.bar {
  position: relative;
  display: block;
  width: 100%; }

.bar:before, .bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #1DAAF1;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all; }

.bar:before {
  left: 50%; }

.bar:after {
  right: 50%; }

input:focus ~ .bar:before, input:focus ~ .bar:after {
  width: 50%; }

select {
  font-size: 18px;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 10px;
  background: none;
  border: none; }
  select ~ .bar {
    border-bottom: 1px solid lightgray; }
    select ~ .bar:after, select ~ .bar:before {
      bottom: -1px; }
  select ~ label {
    font-size: 14px;
    color: #1DAAF1;
    top: -20px; }
  select:focus {
    outline: none; }
    select:focus ~ .bar:before, select:focus ~ .bar:after {
      width: 50%; }
