
.addContact {
  visibility: hidden;
}

.show {
  visibility: visible;
}

input {
  display: block;
}

.delete {
  display: inline-block;
  color: red;
  font-size: 22px;
  margin-left: 20px;
  cursor: pointer;
}