@import "bourbon/bourbon";
@import "neat/neat";

@import "sidebar";
@import "list";

body {
  font-family: 'Roboto', sans-serif;
  color: $black;
}

main {
  overflow: auto;
}

li {
  list-style: none;
}

.navbar {
  position: fixed;
  @include span-columns(3);
  margin-right: 0;
  overflow-y: hidden;
  height: 100vh;
  border-right: 1px solid lightgray;
  box-shadow: 0 0px 17px 0 rgba(0, 0, 0, 0.2);
}

.allContacts {
  @include span-columns(9);
  float: right;
  width: 76.9%;

  // &:last-child {
  //   margin-right: 2.35765%;
  // }
}