@import "bourbon/bourbon";
@import "neat/neat";

@import "sidebar";
@import "list";

li {
  list-style: none;
}

main {
  // @include outer-container;
}

.navbar {
  @include span-columns(2);
  height: 100vh;
  border-right: 1px solid lightgray;
}

.allContacts {
  @include span-columns(10);
}