/****************************
Variables
****************************/
$lightshadow: 0 4px 17px 0 rgba(0, 0, 0, 0.2);
$darkshadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);

$tan: #F5F5F5;
$blue: #1DAAF1;
$white: #fff;
$black: #4D4D4D;
$gray: #777777;
$lightgray: #CFCFCF;

/****************************
NavBar
****************************/

.newBtn {
  color: $white;
  background-color: $blue;
  height: 50px;
  width: 100%;
  border: none;
  box-shadow: $lightshadow;

  &:focus {
    outline: none;
    color: $white;
    background-color: $blue;
    box-shadow: $darkshadow;
  }
}

.addContact {
  transition: all 0.3s ease;
  overflow: hidden;
  height: 0px;
  box-shadow: $darkshadow;
}

.showNav {
  transition: all 0.3s ease;
  padding-top: 30px;
  height: 520px;
}

#contacts {
  color: $blue;
  font-size: 16px;
  margin: 30px 15px;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.directory {

  li {
    color: $blue;
    font-size: 16px;
    cursor: pointer;
    margin-top: 30px;

    &:hover {
      text-decoration: underline;
    }
  }
}

.group {
  position: relative;
  margin-bottom: 30px;
}

.groupLast {
  margin-bottom: 1px;
}

#addBtn {
  color: $white;
  background-color: $blue;
  height: 50px;
  width: 100%;
  border: none;
}

input {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid #757575;

  &:focus {
    outline: none;
  }
}

label {
  color: #999;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}


//------------------------------- Credit to https://scotch.io/ for help in this design section

input:focus ~ label, input:valid ~ label {
  top: -20px;
  font-size: 14px;
  color: $blue;
}

.bar {
  position: relative;
  display: block;
  width: 100%;
}

.bar:before, .bar:after {
  content:'';
  height:2px;
  width:0;
  bottom:1px;
  position:absolute;
  background:$blue;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%;
}

input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}

select {
    font-size: 18px;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 10px;
    background: none;
    border: none;

    ~ .bar {
      border-bottom: 1px solid #999;
      &:after,&:before {
        bottom: -1px;
      }
    }
    ~ label {
      font-size: 14px;
      color: $blue;
      top: -20px;
    }
    &:focus {
      outline: none;
      ~ .bar {
        &:before, &:after {
          width: 50%;
        }
      }
    }
  }

